body {
    font-family: 'Finlandica', sans-serif;
    margin: 0%;
    padding: 0%;
}

.help {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50vh;

}

.text {
    padding-top: 40px;
    font-size: x-large;
    color: rgb(242, 245, 249);
    text-align: center;
    text-shadow: 10px 10px 105px solid black;

}

/*.help {
    color: rgb(34, 89, 89);
    text-align: center;
}*/

#donatenow {
    cursor: pointer;
    text-decoration: none;
    background-color: chocolate;
    padding: 5px 10px;
    border-radius: 5px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.515), rgb(71, 255, 86));
    text-shadow: 2px;
    color: whitesmoke;
    box-shadow: 10px 50px solid blue;

}

.boder {
    margin: 20px;
    padding-top: 50px;
}

.style {
    text-align: center;
    color: black;
}

.style h1 {
    font-size: 40px;
}

.style p {
    font-size: 20px;
    color: gray;
}

.section {
    display: flex;

}

.tk {
    border: 20px;
    width: 50%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    /*padding-left: 15px;*/
    box-shadow: 10px 10px 40px rgb(47, 28, 28);
    border-radius: 5px;
}

.color {
    color: palevioletred;
    background-color: rgb(247, 227, 235);
    border: 3px solid rgb(229, 107, 148);

}


.food {

    background-color: rgb(225, 241, 246);
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    box-shadow: 10px 10px 40px rgb(47, 28, 28);
    border-radius: 8px;
}

.family {
    background-color: rgb(251, 229, 235);
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    box-shadow: 10px 10px 40px rgb(47, 28, 28);
    border-radius: 8px;
}

.child {
    background-color: rgb(240, 246, 225);
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    box-shadow: 10px 10px 40px rgb(47, 28, 28);
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: black;
    color: aliceblue;
    background-size: cover;
   
}

footer h1 {
    padding-top: 25px;
    font-family: 'Lobster', cursive;
    color: red;
   
}
footer p{
    color: blueviolet;
    padding-top: 0px;
}